.App {
  margin: 50px auto;
  width: 500px;
}

.App .container {
  margin: 0 auto;
  width: 450px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
}