* {
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .App .container {
    width: 450px;
    height: 600px;
    border-radius: 15px;
  }
}

.title {
  margin-bottom: 80px;
}

.App .container {
  margin: 0 auto;
  padding-top: 110px;
  width: 1230px;
  height: 720px;
  background-color: white;
  /* border: 1px solid gray; */
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); */
  overflow: hidden;
}

h1 {
  font-family: monospace;
}

.webcam-box {
  float: left;
  width: 550px;
  height: 480px;
  background-color: lightgray;
  overflow: hidden;
}

.contents {
  float: left;
  padding: 0 20px;
  width: 550px;
  height: 600px;
}