.label {
  display: inline-block;
  width: 90px;
  margin: 10px;
  padding: 5px 0;
  border-radius: 5px;
}

.default {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.on-focus {
  background-color: black;
  color: white;
}