* {
  box-sizing: border-box;
}

.title {
  margin-bottom: 80px;
}

.page-name {
  margin-left: 350px;
  margin-top: 20px;
  position: fixed;
  color: rgb(71, 112, 5);
  font-family: 'Jua', sans-serif;
}

.Webcam .container {
  margin: 0 auto;
  padding-top: 110px;
  padding-left: 40px;
  width: 1230px;
  height: 720px;
  background-color: white;
  overflow: hidden;
}

h1 {
  font-family: monospace;
}

.webcam-box {
  float: left;
  width: 650px;
  height: 600px;
  overflow: hidden;
}

.webcam-box .camera {
  width: 650px;
  height: 600px;
  background-color: lightgray;
}

.contents {
  float: left;
  padding: 0 20px;
  width: 500px;
  height: 600px;
}